{% extends 'template.html.twig' %}

{% block body %}

    <h1>Home</h1>

     <ul>
        {% for wish in wish_lst %}
            <li><a href="{{path('details',{id:wish.id})}}">{{ wish.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
