{% extends 'template.html.twig' %}

{% block body %}

    
    {{ form_start(form_wish)}}
   
    {{ form_widget(form_wish)}}

    <button type="submit">Valider</button>

    {{ form_end(form_wish)}}
  

{% endblock %}
